<div class="container">
    <div class="form-container" >
        <div class="title">Login</div>
        <form [formGroup]="loginForm">
            <mat-form-field appearance="outline">
                <mat-label>Enter your Email</mat-label>
                <input matInput formControlName="email"/>
                <mat-error *ngIf="loginForm.get('email')?.hasError('required')">email is madatory</mat-error>
                <mat-error *ngIf="loginForm.get('email')?.hasError('email')"> incorrect email formate</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input type='password' matInput formControlName="password" />
                <mat-error *ngIf="loginForm.get('password')?.hasError('required')">email is madatory</mat-error>
            </mat-form-field>
        </form>

        <div class="buttons-container">
            <button mat-raised-button class="login-button" (click)="login()">Login</button>
            <p>OR</p>
            <button mat-button routerLink="/create-account">Create account</button>
        </div>
    </div>
</div>